<% _.forEach(results, function(result) { %>
<a href="#/listing/<%= result.listing_id %>">
	
	<div class="container">
		<div listing = '<%= result.listing_id %>'>
			<div class="imgBox">
				<img src = '<%= result.MainImage.url_570xN %>'>
			</div>

			<div class="title">
					<%= result.title %>
			</div>
				
			<div class="price">
					<div class="priceText">
					$<%= result.price %>
					</div>
			</div>
			</div>
			</div>
	</div>

</a>


<% }); %>
	
